//object sans
@font-face {
  font-family: "Object Sans";
  src: url("~assets/fonts/ObjectSans-Regular.woff2") format("woff2"),
    url("~assets/fonts/ObjectSans-Regular.woff") format("woff");
  font-style: normal;
}

//Monument Extended
@font-face {
  font-family: "Monument Extended";
  src: url("~assets/fonts/MonumentExtended-Regular.woff2") format("woff2"),
    url("~assets/fonts/MonumentExtended-Regular.woff") format("woff");
  font-style: normal;
}
